ADFIntegration/pipeline/ARAAS_Child_Pipeline.json
{
	"name": "ARAAS_Child_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Fetch_file_list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "fetchzipfile",
						"type": "DatasetReference",
						"parameters": {
							"filepath": {
								"value": "@pipeline().parameters.filepath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetch_file_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch_file_list').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, pipeline().parameters.filename)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('Filter1').output.FilteredItemsCount,0))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "export_files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Logs_insert_extracted_firsttime",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": {
										"value": "@concat('ADW_PDW_EDW','.',pipeline().parameters.routine)",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"QueryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SPPARM",
												"type": "Expression"
											}
										},
										"Passdate": {
											"type": "Datetime",
											"value": {
												"value": "@if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'yyyy-MM-dd'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy-MM-dd'))",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(equals(pipeline().parameters.routine,'OC65769'),\njson('{\"type\": \"TabularTranslator\",\n\"mappings\": [\n{\n\"source\": {\"name\": \"DATE\",\n},\n\"sink\": {\"name\": \"\\\"DATE\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"ID-DLR\",\n},\n\"sink\": {\"name\": \"\\\"ID-DLR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"KEY-CO\",\n},\n\"sink\": {\"name\": \"\\\"KEY-CO\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-AUTO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-AUTO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-AUTO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-AUTO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ACSRY-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ACSRY-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ACSRY-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ACSRY-PART-PUR\\\"\",\n\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PROMO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PROMO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PROMO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PROMO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-OIL-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-OIL-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-OIL-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-OIL-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-STK-ORD-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-STK-ORD-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-STK-ORD-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-STK-ORD-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-VOR-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-VOR-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-VOR-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-VOR-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-GRS-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-GRS-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-GRS-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-GRS-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-MFR-PAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-MFR-PAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-MFR-PAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-MFR-PAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-CUSPAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-CUSPAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-CUSPAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-CUSPAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-1\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-1\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-RET-TYP-1-LST1\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-RET-TYP-1-LST1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-RET-TYP-1-LST1\",\n},\n\"sink\": {\n\"name\": \"\\\"M-AMT-RET-TYP-1-LST1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-RET-TYP-1-LST2\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-RET-TYP-1-LST2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-RET-TYP-1-LST2\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-RET-TYP-1-LST2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-2\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-2\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-3\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-3\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-3\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-3\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-4\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-4\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-4\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-4\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-5\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-5\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-5\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-5\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TOT-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TOT-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TOT-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TOT-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NET-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NET-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NET-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NET-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PEND-PRT-CR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PEND-PRT-CR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PEND-PRT-CR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PEND-PRT-CR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ACSRY-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ACSRY-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ACSRY-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ACSRY-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NET-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NET-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NET-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NET-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-VPC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-VPC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-VPC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-VPC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ATKN-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ATKN-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ATKN-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ATKN-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ATKN-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ATKN-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ATKN-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ATKN-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NVGT-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NVGT-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NVGT-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NVGT-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NVGT-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NVGT-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NVGT-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NVGT-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TOT-NET-ACSRY\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TOT-NET-ACSRY\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TOT-NET-ACSRY\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TOT-NET-ACSRY\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-BDOC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-BDOC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-BDOC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-BDOC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TIRE-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TIRE-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TIRE-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TIRE-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NET-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NET-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NET-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NET-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-BDOC-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-BDOC-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-BDOC-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-BDOC-ACSRY-RET\\\"\",\n}\n}\n]\n}'),'')",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADSL2STORAGEBLOB",
									"type": "DatasetReference",
									"parameters": {
										"file_path": {
											"value": "@pipeline().parameters.filepath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(pipeline().parameters.filename, pipeline().parameters.occurance, '-',\nif(equals(pipeline().parameters.occurance,'D'),concat(if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'MM'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','MM')),if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'dd'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','dd')),formatDateTime(utcNow(),'yyyy')),''),\nif(equals(pipeline().parameters.occurance,'W'),concat(string(div(dayOfYear(utcNow()),7)),if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'yyyy'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy'))),''),\nif(equals(pipeline().parameters.occurance,'M'),concat(if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'MM'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','MM')),if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'yyyy'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy'))),''),\nif(equals(pipeline().parameters.occurance,'Q'),concat(\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),1),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),3)),'01',\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),4),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),6)),'02',\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),7),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),9)),'03',\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),10),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),12)),'04','')\n))),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy')),'')\n,'.zip')",
											"type": "Expression"
										},
										"Escape": {
											"value": "@pipeline().parameters.Escapechar",
											"type": "Expression"
										},
										"delimiter": {
											"value": "@pipeline().parameters.delimiter\n",
											"type": "Expression"
										},
										"Quote": {
											"value": "@if(equals(pipeline().parameters.Quote,'D'),'\"','' )",
											"type": "Expression"
										},
										"Header": {
											"value": "@pipeline().parameters.Header",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Logs_update_extracted_firsttime",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_export_files_status_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "U",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' '\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine\n",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(utcNow(),'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "@variables('activitydetails')",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Logs_insert_extracted_firsttime",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "I",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' '\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "Failed",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set_export_files_status_var1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "export_files",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activitydetails",
								"value": {
									"value": "@activity('export_files').output.executionDetails[0].status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_export_files_status_var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "export_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activitydetails",
								"value": {
									"value": "@activity('export_files').output.executionDetails[0].status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_export_files_error_var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_export_files_status_var1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activityerror",
								"value": {
									"value": "@activity('export_files').error.message",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Logs_update_extracted_failed_firsttime",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_export_files_error_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "U",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' '\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine\n",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(utcNow(),'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "@variables('activitydetails')",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "exctract_file",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "delete_old_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": {
										"value": "@concat('ADW_PDW_EDW','.',pipeline().parameters.routine)",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"QueryName": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.SPPARM",
												"type": "Expression"
											}
										},
										"passdate": {
											"type": "Datetime",
											"value": {
												"value": "@if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'yyyy-MM-dd'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy-MM-dd'))",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(equals(pipeline().parameters.routine,'OC65769'),\njson('{\"type\": \"TabularTranslator\",\n\"mappings\": [\n{\n\"source\": {\"name\": \"DATE\",\n},\n\"sink\": {\"name\": \"\\\"DATE\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"ID-DLR\",\n},\n\"sink\": {\"name\": \"\\\"ID-DLR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"KEY-CO\",\n},\n\"sink\": {\"name\": \"\\\"KEY-CO\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-AUTO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-AUTO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-AUTO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-AUTO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ACSRY-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ACSRY-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ACSRY-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ACSRY-PART-PUR\\\"\",\n\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PROMO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PROMO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PROMO-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PROMO-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-OIL-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-OIL-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-OIL-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-OIL-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-STK-ORD-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-STK-ORD-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-STK-ORD-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-STK-ORD-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-VOR-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-VOR-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-VOR-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-VOR-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-GRS-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-GRS-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-GRS-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-GRS-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-MFR-PAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-MFR-PAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-MFR-PAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-MFR-PAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-CUSPAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-CUSPAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-CUSPAY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-CUSPAY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-1\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-1\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-RET-TYP-1-LST1\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-RET-TYP-1-LST1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-RET-TYP-1-LST1\",\n},\n\"sink\": {\n\"name\": \"\\\"M-AMT-RET-TYP-1-LST1\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-RET-TYP-1-LST2\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-RET-TYP-1-LST2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-RET-TYP-1-LST2\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-RET-TYP-1-LST2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-2\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-2\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-2\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-3\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-3\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-3\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-3\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-4\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-4\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-4\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-4\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PRT-RET-TYP-5\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PRT-RET-TYP-5\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PRT-RET-TYP-5\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PRT-RET-TYP-5\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TOT-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TOT-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TOT-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TOT-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NET-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NET-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NET-PART-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NET-PART-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-PEND-PRT-CR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-PEND-PRT-CR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-PEND-PRT-CR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-PEND-PRT-CR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ACSRY-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ACSRY-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ACSRY-PART-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ACSRY-PART-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NET-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NET-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NET-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NET-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-VPC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-VPC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-VPC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-VPC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ATKN-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ATKN-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ATKN-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ATKN-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-ATKN-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-ATKN-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-ATKN-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-ATKN-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NVGT-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NVGT-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NVGT-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NVGT-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NVGT-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NVGT-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NVGT-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NVGT-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TOT-NET-ACSRY\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TOT-NET-ACSRY\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TOT-NET-ACSRY\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TOT-NET-ACSRY\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-BDOC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-BDOC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-BDOC-ACSRY-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-BDOC-ACSRY-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-TIRE-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-TIRE-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-TIRE-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-TIRE-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-NET-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-NET-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-NET-TIRE-PUR\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-NET-TIRE-PUR\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"D-AMT-BDOC-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"D-AMT-BDOC-ACSRY-RET\\\"\",\n}\n},\n{\n\"source\": {\"name\": \"M-AMT-BDOC-ACSRY-RET\",\n},\n\"sink\": {\"name\": \"\\\"M-AMT-BDOC-ACSRY-RET\\\"\",\n}\n}\n]\n}'),'')",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ADSL2STORAGEBLOB",
									"type": "DatasetReference",
									"parameters": {
										"file_path": {
											"value": "@pipeline().parameters.filepath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@concat(pipeline().parameters.filename, pipeline().parameters.occurance, '-',\nif(equals(pipeline().parameters.occurance,'D'),concat(if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'MM'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','MM')),if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'dd'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','dd')),formatDateTime(utcNow(),'yyyy')),''),\nif(equals(pipeline().parameters.occurance,'W'),concat(string(div(dayOfYear(utcNow()),7)),if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'yyyy'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy'))),''),\nif(equals(pipeline().parameters.occurance,'M'),concat(if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'MM'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','MM')),if(equals(pipeline().parameters.jsonlist,json('[]')),formatDateTime(utcNow(),'yyyy'),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy'))),''),\nif(equals(pipeline().parameters.occurance,'Q'),concat(\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),1),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),3)),'01',\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),4),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),6)),'02',\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),7),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),9)),'03',\nif(and(greaterOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'),'MM')),10),lessOrEquals(int(formatDateTime(subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day'), 'MM')),12)),'04','')\n))),subtractFromTime(utcNow(),pipeline().parameters.previous_date,'Day','yyyy')),'')\n,'.zip')",
											"type": "Expression"
										},
										"Escape": {
											"value": "@pipeline().parameters.Escapechar",
											"type": "Expression"
										},
										"delimiter": {
											"value": "@pipeline().parameters.delimiter",
											"type": "Expression"
										},
										"Quote": {
											"value": "@if(equals(pipeline().parameters.Quote,'D'),'\"','' )",
											"type": "Expression"
										},
										"Header": {
											"value": "@pipeline().parameters.Header",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "archive_files",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Logs_insert",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFileName": {
											"value": "@concat(pipeline().parameters.filename,'*')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings",
											"preserveZipFileNameAsFolder": false
										}
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".zip"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ADSL2STORAGEBLOB",
									"type": "DatasetReference",
									"parameters": {
										"file_path": {
											"value": "@pipeline().parameters.filepath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@string(activity('Filter1').output.value)",
											"type": "Expression"
										},
										"Escape": {
											"value": "@pipeline().parameters.Escapechar",
											"type": "Expression"
										},
										"delimiter": {
											"value": "@pipeline().parameters.delimiter",
											"type": "Expression"
										},
										"Quote": {
											"value": "@if(equals(pipeline().parameters.Quote,'D'),'\"','' )",
											"type": "Expression"
										},
										"Header": {
											"value": "@pipeline().parameters.Header",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "archivestorage",
									"type": "DatasetReference",
									"parameters": {
										"file_path": {
											"value": "adls-araas/ASBD/Archive",
											"type": "Expression"
										},
										"Escape": {
											"value": "@pipeline().parameters.Escapechar",
											"type": "Expression"
										},
										"Quote": {
											"value": "@if(equals(pipeline().parameters.Quote,'D'),'\"','')",
											"type": "Expression"
										},
										"delimiter": {
											"value": "@pipeline().parameters.delimiter",
											"type": "Expression"
										},
										"Header": {
											"value": "@pipeline().parameters.Header",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "delete_old_files",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "archive_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ADSL2STORAGEBLOB",
									"type": "DatasetReference",
									"parameters": {
										"file_path": {
											"value": "@pipeline().parameters.filepath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@string(activity('Filter1').output.value)",
											"type": "Expression"
										},
										"Escape": {
											"value": "@pipeline().parameters.Escapechar",
											"type": "Expression"
										},
										"delimiter": {
											"value": "@pipeline().parameters.delimiter",
											"type": "Expression"
										},
										"Quote": {
											"value": "@if(equals(pipeline().parameters.Quote,'D'),'\"','' )",
											"type": "Expression"
										},
										"Header": {
											"value": "@pipeline().parameters.Header",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{concat(pipeline().parameters.filename,'*')}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Logs_update_extract_success",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Setextractstatsvar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "U",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' '\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine\n",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(utcNow(),'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "@variables('activitydetails')",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Logs_insert",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "I",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' ',\n'FileNma : ',string(activity('Filter1').output.value)\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@utcNow()",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@pipeline().TriggerTime",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "Failed",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Setarchivevar",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "archive_files",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activitydetails",
								"value": {
									"value": "@activity('archive_files').output.executionDetails[0].status\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setdeletevar",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "delete_old_files",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activitydetails",
								"value": {
									"value": "@activity('delete_old_files').output.executionDetails[0].status\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_extract_failed_var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "exctract_file",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activitydetails",
								"value": {
									"value": "@activity('exctract_file').output.executionDetails[0].status\n\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Setextractstatsvar",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "exctract_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activitydetails",
								"value": {
									"value": "@activity('exctract_file').output.executionDetails[0].status",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Logs_update_extract_fail",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_extract_error_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "U",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' '\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine\n",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(utcNow(),'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "@variables('activitydetails')",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Logs_update_delete_fail",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_delete_failed_error_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "U",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' '\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine\n",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(utcNow(),'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "@variables('activitydetails')",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Logs_update_archive_fail",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set_archive_failed_error_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ADW_PDW_EDW].[log_details]",
									"storedProcedureParameters": {
										"filename": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.filename",
												"type": "Expression"
											}
										},
										"Flag": {
											"type": "String",
											"value": {
												"value": "U",
												"type": "Expression"
											}
										},
										"params": {
											"type": "String",
											"value": {
												"value": "@concat(\n'Header :',string(pipeline().parameters.Header),' ',\n'Previous_date :',string(pipeline().parameters.previous_date),' '\n)",
												"type": "Expression"
											}
										},
										"Pipeline": {
											"type": "String",
											"value": {
												"value": "@pipeline().Pipeline",
												"type": "Expression"
											}
										},
										"routine": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.routine\n",
												"type": "Expression"
											}
										},
										"runEnd": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(utcNow(),'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"RunId": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"runStart": {
											"type": "DateTime",
											"value": {
												"value": "@convertFromUtc(pipeline().TriggerTime, 'Eastern Standard Time')",
												"type": "Expression"
											}
										},
										"status": {
											"type": "String",
											"value": {
												"value": "@variables('activitydetails')",
												"type": "Expression"
											}
										},
										"TriggerTime": {
											"type": "String",
											"value": {
												"value": "@string(formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd'))",
												"type": "Expression"
											}
										},
										"errormessage": {
											"type": "String",
											"value": {
												"value": "@variables('activityerror')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSynapseAnalyticsSQLDB",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Set_extract_error_var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set_extract_failed_var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activityerror",
								"value": {
									"value": "@activity('exctract_file').error.message",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_delete_failed_error_var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Setdeletevar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activityerror",
								"value": {
									"value": "@activity('delete_old_files').error.message",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set_archive_failed_error_var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Setarchivevar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "activityerror",
								"value": {
									"value": "@activity('archive_files').error.message",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			},
			"filepath": {
				"type": "string"
			},
			"occurance": {
				"type": "string"
			},
			"daysub": {
				"type": "int"
			},
			"routine": {
				"type": "string"
			},
			"filecheck": {
				"type": "int"
			},
			"SPPARM": {
				"type": "string"
			},
			"delimiter": {
				"type": "string"
			},
			"Quote": {
				"type": "string"
			},
			"Escapechar": {
				"type": "string"
			},
			"jsonlist": {
				"type": "array"
			},
			"previous_date": {
				"type": "int"
			},
			"Header": {
				"type": "bool"
			}
		},
		"variables": {
			"activitydetails": {
				"type": "String"
			},
			"activityerror": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ARAAS"
		},
		"annotations": []
	}
}