ADFIntegration/pipeline/CDDB.json
{
	"name": "CDDB",
	"properties": {
		"activities": [
			{
				"name": "Get File Names from ADLS_Source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SRD_v2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Transform_CDDB",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "INIT_ADB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File Names from ADLS_Source').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CDDB_PROCESS",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/andkim@americas.corpdir.net/ETL/CDDB/Main",
								"baseParameters": {
									"file_name": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "CDDB Copy Data_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CDDB_PROCESS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBatchTimeout": "01:30:00",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ADW_DEALER_CDDB.' ,replace(item().name, '.csv', ''))}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"parallelCopies": 2,
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "MSS_Processed_Gen2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "MSS_Tables",
									"type": "DatasetReference",
									"parameters": {
										"DWTableName": {
											"value": "@{replace(item().name, '.csv', '')}",
											"type": "Expression"
										},
										"DWSchema": "ADW_DEALER_CDDB"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "INIT_ADB",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get File Names from ADLS_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/andkim@americas.corpdir.net/ETL/CDDB/init"
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"test": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "cddb"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}