ADFIntegration/pipeline/DAMAGE_OPCODE.json
{
	"name": "DAMAGE_OPCODE",
	"properties": {
		"activities": [
			{
				"name": "File_Found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Run Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('CHECK_LAST_RUN_DH').output.runOutput,'Continue'), equals(activity('DBx_Transform').output.runOutput,'Success'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UPDATE_LAST_RUN_DHH",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Update_main_table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataEngineering/WARRANTY/UPDATE_LAST_RUN_DAMAGE_HEADER",
								"baseParameters": {
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Create_stg_table_for_update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DROP IF CREATED STG TBL_copy",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name_update, '_CREATE_STG_TBL')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Update_main_table",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Dmage_header_lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.update_schema)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG_for_update",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create_stg_table_for_update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/processed/wrnty_opr/',pipeline().parameters.table_name_update,'/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Warranty_incre_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@pipeline().parameters.table_name_update",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DROP IF CREATED STG TBL_copy",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.','[DROP_STG_TBL]')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"TABLE_NAME": {
										"value": {
											"value": "@pipeline().parameters.table_name_update",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Dmage_header_lookup",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG_for_update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name_lookup)",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "CHECK_LAST_RUN_DH",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DataEngineering/WARRANTY/CHECK_LAST_RUN_DAMAGE_HEADER",
					"baseParameters": {
						"table_name": {
							"value": "@pipeline().parameters.table_name",
							"type": "Expression"
						},
						"run_date": {
							"value": "@pipeline().parameters.run_date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Run Notebook",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CHECK_LAST_RUN_DH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CHECK_LAST_RUN_DH').output.runOutput,'Continue')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DBx_Transform",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@pipeline().parameters.notebook_path",
									"type": "Expression"
								},
								"baseParameters": {
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Not Scheduled",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "File_Found",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(equals(activity('CHECK_LAST_RUN_DH').output.runOutput,'Continue'), equals(activity('DBx_Transform').output.runOutput,'Not Scheduled'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UPDATE_LAST_RUN_DH",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataEngineering/WARRANTY/UPDATE_LAST_RUN_DAMAGE_HEADER",
								"baseParameters": {
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"run_date": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			},
			"table_name_update": {
				"type": "string"
			},
			"table_name_lookup": {
				"type": "string"
			},
			"update_schema": {
				"type": "string"
			}
		},
		"folder": {
			"name": "WARRANTY|Remarketing"
		},
		"annotations": []
	}
}