ADFIntegration/pipeline/FDW_CoficoUnzip_Child01_Unzip.json
{
	"name": "FDW_CoficoUnzip_Child01_Unzip",
	"properties": {
		"activities": [
			{
				"name": "Unzip already processed",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('\nDECLARE @v_start_date date=''',pipeline().parameters.run_date,'''\nDECLARE @v_status varchar(20)\n\nSELECT TOP 1\n@v_status =''yes'' FROM ',pipeline().parameters.watermark_schema_name,'.',pipeline().parameters.watermark_table_name,'\nWHERE ADW_TABLE=''FDW_Cofico_Unzip'' \nAND WATERMARK_DT_UTC=@v_start_date\nAND FILE_EXISTS_STATUS = ''True''\nAND ROW_COUNT>=',pipeline().parameters.row_count,'\n\nIF @v_status is NULL\n  set @v_status=''no''\n\nSELECT @v_status as is_done\n  \n'  )",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_fdw_watermark_tbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Not already Run",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Unzip already processed",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Unzip already processed').output.firstRow.is_done,'no')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Cofico Unzip child 02",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FDW_CoficoUnzip_Child02_Unzip",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									},
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"watermark_sp_name": {
										"value": "@pipeline().parameters.watermark_sp_name",
										"type": "Expression"
									},
									"watermark_schema_name": {
										"value": "@pipeline().parameters.watermark_schema_name",
										"type": "Expression"
									},
									"watermark_table_name": {
										"value": "@pipeline().parameters.watermark_table_name",
										"type": "Expression"
									},
									"row_count": {
										"value": "@int(pipeline().parameters.row_count)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "FDW_Cofico_Unzip"
			},
			"container_name": {
				"type": "string",
				"defaultValue": "adls-fdw-edw"
			},
			"run_date": {
				"type": "string",
				"defaultValue": "2022-06-09"
			},
			"watermark_sp_name": {
				"type": "string",
				"defaultValue": "sp_WaterMark_TBL"
			},
			"watermark_schema_name": {
				"type": "string",
				"defaultValue": "ADW_CTRL"
			},
			"watermark_table_name": {
				"type": "string",
				"defaultValue": "WATERMARK_TBL"
			},
			"row_count": {
				"type": "string",
				"defaultValue": "17"
			}
		},
		"folder": {
			"name": "FDW/FDW_Daily_Incremental"
		},
		"annotations": []
	}
}