ADFIntegration/pipeline/FDW_CoficoUnzip_Child02_Unzip.json
{
	"name": "FDW_CoficoUnzip_Child02_Unzip",
	"properties": {
		"activities": [
			{
				"name": "zip file exists on ADLS Gen2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_uncompressed_cofico",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If file exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "zip file exists on ADLS Gen2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('zip file exists on ADLS Gen2').output.exists, true)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FileNotExistsOnADLS",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "File not present on ALDS Gen2",
								"errorCode": "500 "
							}
						},
						{
							"name": "sp_WaterMark_dailyExtracts_failure_Incomplete_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FileNotExistsOnADLS",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.watermark_schema_name,'.',pipeline().parameters.watermark_sp_name)",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"WATERMARK_DT_UTC": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILE_EXISTS_STATUS": {
										"value": null,
										"type": "String"
									},
									"ADW_SCHEMA": {
										"value": null,
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_FILE_NAME": {
										"value": null,
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"CONTAINER_NAME": {
										"value": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ROW_COUNT": {
										"value": null,
										"type": "Int32"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "Today Zip folder not present on ALDS Gen2\n",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Unzip_Cofico",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 4000,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_uncompressed_cofico",
									"type": "DatasetReference",
									"parameters": {
										"run_date": "@pipeline().parameters.run_date"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_fdw_dest_copy_cofico",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYSTEM": "adls-fdw-edw",
										"run_date": "@pipeline().parameters.run_date"
									}
								}
							]
						},
						{
							"name": "Get Metadata Folder",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Check file count",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_fdw_dest_metadata_cofico",
									"type": "DatasetReference",
									"parameters": {
										"run_date": "@pipeline().parameters.run_date",
										"container_name": "@pipeline().parameters.container_name"
									}
								},
								"fieldList": [
									"exists",
									"itemType",
									"itemName"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Set FolderExists",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Metadata Folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFolderExists",
								"value": {
									"value": "@string(activity('Get Metadata Folder').output.exists)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_WaterMark_dailyExtracts",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set FolderExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.watermark_schema_name,'.',pipeline().parameters.watermark_sp_name)",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"WATERMARK_DT_UTC": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILE_EXISTS_STATUS": {
										"value": {
											"value": "@string(activity('Get Metadata Folder').output?.exists)",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADW_SCHEMA": {
										"value": null,
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_FILE_NAME": {
										"value": {
											"value": "@activity('Get Metadata Folder').output?.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"CONTAINER_NAME": {
										"value": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ROW_COUNT": {
										"value": {
											"value": "@activity('Unzip_Cofico').output?.filesWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"EXCEPTIONS": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sp_WaterMark_dailyExtracts_failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Get Metadata Folder",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.watermark_schema_name,'.',pipeline().parameters.watermark_sp_name)",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"WATERMARK_DT_UTC": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILE_EXISTS_STATUS": {
										"value": null,
										"type": "String"
									},
									"ADW_SCHEMA": {
										"value": null,
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_FILE_NAME": {
										"value": null,
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"CONTAINER_NAME": {
										"value": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ROW_COUNT": {
										"value": {
											"value": "@activity('Unzip_Cofico').output?.filesWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "@activity('Unzip_Cofico').output?.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Check file count",
							"description": "its should be greater than or equal to 17",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Unzip_Cofico",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_Files_Count",
								"value": {
									"value": "@if(lessOrEquals(pipeline().parameters.row_count,int(activity('Unzip_Cofico').output?.filesWritten)),true,'IncompleCoficoFiles')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "IncompleteFilesOnZip",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Check file count",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Incomplete files on Zip folder",
								"errorCode": "500 "
							}
						},
						{
							"name": "sp_WaterMark_dailyExtracts_failure_Incomplete",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "IncompleteFilesOnZip",
									"dependencyConditions": [
										"Failed",
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.watermark_schema_name,'.',pipeline().parameters.watermark_sp_name)",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"WATERMARK_DT_UTC": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILE_EXISTS_STATUS": {
										"value": null,
										"type": "String"
									},
									"ADW_SCHEMA": {
										"value": null,
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_FILE_NAME": {
										"value": null,
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"CONTAINER_NAME": {
										"value": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ROW_COUNT": {
										"value": {
											"value": "@activity('Unzip_Cofico').output?.filesWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "All Source files are not present in the Cofico zip folder\n\n",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "FDW_Cofico_Unzip"
			},
			"container_name": {
				"type": "string",
				"defaultValue": "adls-fdw-edw"
			},
			"run_date": {
				"type": "string",
				"defaultValue": "2022-06-26"
			},
			"watermark_sp_name": {
				"type": "string",
				"defaultValue": "sp_WaterMark_TBL"
			},
			"watermark_schema_name": {
				"type": "string",
				"defaultValue": "ADW_CTRL"
			},
			"watermark_table_name": {
				"type": "string",
				"defaultValue": "WATERMARK_TBL"
			},
			"row_count": {
				"type": "int",
				"defaultValue": 17
			}
		},
		"variables": {
			"vFolderExists": {
				"type": "String"
			},
			"v_Files_Count": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "FDW/FDW_Daily_Incremental"
		},
		"annotations": []
	}
}