ADFIntegration/pipeline/GTLS_daily_incremental_parent_pl.json
{
	"name": "GTLS_daily_incremental_parent_pl",
	"properties": {
		"activities": [
			{
				"name": "Lkp_batch_details",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Unzip_GTLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "gtls_incremental_batches",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachBatch",
				"description": "it will execute all batches in sequence ",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_batch_details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_batch_details').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GTLS_incremental_child_pl_batch_lkp",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GTLS_incremental_child_pl_batch_lkp",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"batch_name": {
										"value": "@item().batch_name",
										"type": "Expression"
									},
									"run_date": {
										"value": "@if(equals(pipeline().parameters.run_date,'0001-01-01'),utcnow('yyyy-MM-dd'),pipeline().parameters.run_date)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Unzip_GTLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 4000,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "domain_GTLS_DELTA",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@if(equals(pipeline().parameters.run_date,'0001-01-01'),utcnow('yyyy-MM-dd'),pipeline().parameters.run_date)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "gtls_reservoir_sink",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "adls-trained-edw",
							"run_date": {
								"value": "@if(equals(pipeline().parameters.run_date,'0001-01-01'),utcnow('yyyy-MM-dd'),pipeline().parameters.run_date)",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"run_date": {
				"type": "string",
				"defaultValue": "0001-01-01"
			}
		},
		"folder": {
			"name": "GTLS/GTLS Daily incremental"
		},
		"annotations": []
	}
}