ADFIntegration/pipeline/GTLS_delta_child02_incremental_loop.json
{
	"name": "GTLS_delta_child02_incremental_loop",
	"properties": {
		"activities": [
			{
				"name": "Set date counter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set EndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vDateCounter",
					"value": {
						"value": "@string(div(div(div(div(sub(ticks(variables('vEndDate')),ticks(variables('vStartDate'))),10000000),60),60),24))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach append",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set date counter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0,add(int(variables('vDateCounter')),1))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append date array",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vDateRange",
								"value": {
									"value": "@formatDateTime(AddToTime(variables('vStartDate'), item(), 'Day'), 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach date",
				"description": "execute insert update for each date",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach append",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('vDateRange')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute insert_update",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GTLS_delta_child03_incremental_insert_update",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema_name": {
										"value": "@pipeline().parameters.schema_name",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									},
									"run_date": {
										"value": "@item()",
										"type": "Expression"
									},
									"notebook_path": {
										"value": "@pipeline().parameters.notebook_path",
										"type": "Expression"
									},
									"contains_pii": {
										"value": "@pipeline().parameters.contains_pii",
										"type": "Expression"
									},
									"config_folder": {
										"value": "@pipeline().parameters.config_folder",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Set EndDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set StartDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vEndDate",
					"value": {
						"value": "@formatDateTime(pipeline().parameters.end_date, 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set StartDate",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStartDate",
					"value": {
						"value": "@pipeline().parameters.start_date",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"start_date": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"schema_name": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			},
			"config_folder": {
				"type": "string"
			},
			"contains_pii": {
				"type": "string"
			},
			"end_date": {
				"type": "string"
			}
		},
		"variables": {
			"vDateCounter": {
				"type": "String"
			},
			"vEndDate": {
				"type": "String"
			},
			"vStartDate": {
				"type": "String"
			},
			"vDateRange": {
				"type": "Array"
			},
			"vDate": {
				"type": "String"
			},
			"vTableName": {
				"type": "String"
			},
			"vIncremental": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Delta_watermark/GTLS_Daily_Incremental"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-06T17:27:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}