ADFIntegration/pipeline/LOAD_PRTNR_KPI_MASTER_DATA.json
{
	"name": "LOAD_PRTNR_KPI_MASTER_DATA",
	"properties": {
		"activities": [
			{
				"name": "For Each Table Get Extract",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.table_names",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create Extract",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ADW_TABLES_ADF",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "ADW_PRTNR",
										"TableName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Master_Data_Extract",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "extract",
										"file_name": {
											"value": "@concat(item(), '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook To Generate And Prepare Data",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "For Each Table Get Extract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DataEngineering/Partner-KPI/Load_Master_Data",
					"baseParameters": {
						"master_data_path": "adls-partner-kpi/masterData"
					},
					"libraries": [
						{
							"pypi": {
								"package": "openpyxl"
							}
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup PRTNR_MGT_VAL_TYP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Notebook To Generate And Prepare Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Master_Data_Extract",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "processed",
							"file_name": "PRTNR_MGT_VAL_TYP.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition For VAL_TYP",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup PRTNR_MGT_VAL_TYP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup PRTNR_MGT_VAL_TYP').output.count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load PRTNR_MGT_VAL_TYP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Upsert",
									"upsertSettings": {
										"keys": [
											"CDE_VAL_TYP"
										],
										"interimSchemaName": ""
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CDE_VAL_TYP",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CDE_VAL_TYP",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DES_VAL_TYP",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DES_VAL_TYP",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "DTE_EFF_STRT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTE_EFF_STRT",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "DTE_EFF_END",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTE_EFF_END",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ID_DW_CREA_USER",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_DW_CREA_USER",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DTS_DW_CREA",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTS_DW_CREA",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "ID_DW_UPDT_USER",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_DW_UPDT_USER",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DTS_DW_UPDT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTS_DW_UPDT",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Master_Data_Extract",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "processed",
										"file_name": {
											"value": "PRTNR_MGT_VAL_TYP.csv",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADW_TABLES_ADF",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "ADW_PRTNR",
										"TableName": {
											"value": "PRTNR_MGT_VAL_TYP",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup PRTNR_MGT_KPI",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Notebook To Generate And Prepare Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Master_Data_Extract",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "processed",
							"file_name": "PRTNR_MGT_KPI.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition For KPI",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup PRTNR_MGT_KPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup PRTNR_MGT_KPI').output.count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load PRTNR_MGT_KPI",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Upsert",
									"upsertSettings": {
										"keys": [
											"ID_KPI"
										],
										"interimSchemaName": ""
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ID_KPI",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_KPI",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "NAM_KPI",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "NAM_KPI",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "DTE_EFF_STRT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTE_EFF_STRT",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "DTE_EFF_END",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTE_EFF_END",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "TXT_KPI_IT_DEFN",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TXT_KPI_IT_DEFN",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "NAM_BUSN_OWNR",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "NAM_BUSN_OWNR",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "ADR_BUSN_OWNR_EML",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ADR_BUSN_OWNR_EML",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "TXT_FRMLA",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TXT_FRMLA",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "IND_AGGR",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "IND_AGGR",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "CDE_ORG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CDE_ORG",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "CDE_FREQ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CDE_FREQ",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "CDE_TME_PD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CDE_TME_PD",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "CDE_VAL_TYP",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CDE_VAL_TYP",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "ID_KPI_OLD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_KPI_OLD",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "ID_DW_CREA_USER",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_DW_CREA_USER",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DTS_DW_CREA",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTS_DW_CREA",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "ID_DW_UPDT_USER",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_DW_UPDT_USER",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DTS_DW_UPDT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTS_DW_UPDT",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Master_Data_Extract",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "processed",
										"file_name": {
											"value": "PRTNR_MGT_KPI.csv",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADW_TABLES_ADF",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "ADW_PRTNR",
										"TableName": "PRTNR_MGT_KPI"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup PRTNR_MGT_TME_PD_TYP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Notebook To Generate And Prepare Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Master_Data_Extract",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "processed",
							"file_name": "PRTNR_MGT_KPI.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition For TME_PD_TYP",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup PRTNR_MGT_TME_PD_TYP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup PRTNR_MGT_TME_PD_TYP').output.count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load PRTNR_MGT_TME_PD_TYP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Upsert",
									"upsertSettings": {
										"keys": [
											"CDE_TME_PD"
										],
										"interimSchemaName": ""
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "CDE_TME_PD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CDE_TME_PD",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DES_TME_PD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DES_TME_PD",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "DTE_EFF_STRT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTE_EFF_STRT",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "DTE_EFF_END",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTE_EFF_END",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "ID_DW_CREA_USER",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_DW_CREA_USER",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DTS_DW_CREA",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTS_DW_CREA",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "ID_DW_UPDT_USER",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ID_DW_UPDT_USER",
												"type": "String",
												"physicalType": "char"
											}
										},
										{
											"source": {
												"name": "DTS_DW_UPDT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DTS_DW_UPDT",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Master_Data_Extract",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "processed",
										"file_name": {
											"value": "PRTNR_MGT_TME_PD_TYP.csv",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADW_TABLES_ADF",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "ADW_PRTNR",
										"TableName": {
											"value": "PRTNR_MGT_TME_PD_TYP",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup PRTNR_MGT_FREQ_TYP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Notebook To Generate And Prepare Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Master_Data_Extract",
						"type": "DatasetReference",
						"parameters": {
							"folder_name": "processed",
							"file_name": "PRTNR_MGT_FREQ_TYP.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition For FREQ_TYP",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup PRTNR_MGT_FREQ_TYP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lookup PRTNR_MGT_FREQ_TYP').output.count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Load PRTNR_MGT_FREQ_TYP",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Upsert",
									"upsertSettings": {
										"keys": [
											"CDE_FREQ"
										],
										"interimSchemaName": ""
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Master_Data_Extract",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "processed",
										"file_name": {
											"value": "PRTNR_MGT_FREQ_TYP.csv",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADW_TABLES_ADF",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "ADW_PRTNR",
										"TableName": {
											"value": "PRTNR_MGT_FREQ_TYP",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"table_names": {
				"type": "array",
				"defaultValue": [
					"PRTNR_MGT_VAL_TYP",
					"PRTNR_MGT_FREQ_TYP",
					"PRTNR_MGT_TME_PD_TYP",
					"PRTNR_MGT_KPI"
				]
			}
		},
		"folder": {
			"name": "PARTNER_KPI"
		},
		"annotations": []
	}
}