ADFIntegration/pipeline/MBFS_DAILY_prev_work.json
{
	"name": "MBFS_DAILY_prev_work",
	"properties": {
		"activities": [
			{
				"name": "Uncompress MBFS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "remarketting_g2_src",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "utcNow('yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MBFS_dest",
						"type": "DatasetReference",
						"parameters": {
							"file_system": "adls-mbfs-amsdw",
							"run_date": {
								"value": "utcNow('yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "mbfs_main",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Uncompress MBFS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 60,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DataEngineering/MBFS/main_daily"
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get_mbfs_metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "mbfs_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "get_mbfs",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_mbfs_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_mbfs_metadata').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_mbfs_adw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@{concat('mbfs/processed/',formatDateTime(utcNow(),'yyyy-MM-dd'),'/',item().name)}",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ADW_MBFS_AMSDW.' ,item().name)}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "mbfs_src_adls",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "mbfs_adw",
									"type": "DatasetReference",
									"parameters": {
										"DWTable": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"DWSchema": "ADW_MBFS_AMSDW"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "MBFS"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}