ADFIntegration/pipeline/MMR_Daily_Load.json
{
	"name": "MMR_Daily_Load",
	"properties": {
		"activities": [
			{
				"name": "Loading data to Azure synapse",
				"description": "Loading data from ADLS to Azure Synapse",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Create_Staging_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Files1",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "MMR Copy Data",
							"description": "Loading data from ADLS to ADW ",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Data Transformation And Cleansing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@{concat('processed/',formatDateTime(addDays(utcNow(),-1),'yyyy-MM-dd'),'/',item())}",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE table ',if(contains(createArray('MMR_NATL_PRC','MMR_RGN_PRC','REMKT_PRCNG_PD','VINKEY_CND_ADJ','VINKEY_MSTR','VINKEY_VIN_TRNSL'),item()),'ADW_Vehicle_VISTA_STG','ADW_Vehicle_VISTA'),'.',item())}",
										"type": "Expression"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "mmr_src_adls",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "VISTA_Tables",
									"type": "DatasetReference",
									"parameters": {
										"DWTableName": {
											"value": "@item()",
											"type": "Expression"
										},
										"DWSchema": {
											"value": "@if(contains(createArray('MMR_NATL_PRC','MMR_RGN_PRC','REMKT_PRCNG_PD','VINKEY_CND_ADJ','VINKEY_MSTR','VINKEY_VIN_TRNSL'),item()),'ADW_Vehicle_VISTA_STG','ADW_Vehicle_VISTA')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Data Transformation And Cleansing",
							"description": "Performing DE activities",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataEngineering/MMR/main_transform",
								"baseParameters": {
									"file_name": {
										"value": "@item()",
										"type": "Expression"
									},
									"incre_date": {
										"value": "@formatDateTime(adddays(utcnow(),-1),'yyyyMMdd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Create_Staging_Tables",
				"description": "Creating staging tables for incremental load",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Extract Zip Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADW_Vehicle_VISTA_STG].[CREATE_MMR_STG_TBL_PROC]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDW2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Incremental_Insert_Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loading data to Azure synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADW_Vehicle_VISTA_STG].[ADW_MMR_MERGE_PROC]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDW2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Extract Zip Files",
				"description": "Fetching the daily data zip file from Daimler ADLS and extract it over reservoir ADLS",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "mmr_g2_src",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mmr_gen2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "PII_masking",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Loading data to Azure synapse",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.mask_table",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Generate_json",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataEngineering/MMR/Masking/generate_json",
								"baseParameters": {
									"Table": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Masking_Processed",
							"type": "DatabricksSparkJar",
							"dependsOn": [
								{
									"activity": "Generate_json",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"mainClassName": "com.daimler.nbx.pseudo.wrapper.scala.Main",
								"parameters": [
									"@concat('/dbfs/mnt/adls-finance-mmr/masking/json/',item(),'.json')"
								],
								"libraries": [
									{
										"jar": "dbfs:/FileStore/DAPS/jars/nbx-pseudo-spark-databricks-runtime-7.jar"
									}
								]
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete_Unmasked_Data",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Masking_Processed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataEngineering/MMR/Masking/Delete_process_raw",
								"baseParameters": {
									"Table": {
										"value": "@item()",
										"type": "Expression"
									},
									"run_date": {
										"value": "@formatDateTime(adddays(utcnow(),-1),'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Files1": {
				"type": "array",
				"defaultValue": [
					"MMR_NATL_PRC",
					"MMR_RGN_PRC",
					"REMKT_PRCNG_PD",
					"VINKEY_CND_ADJ",
					"VINKEY_MSTR",
					"VINKEY_VIN_TRNSL"
				]
			},
			"mask_table": {
				"type": "array",
				"defaultValue": [
					"MMR_NATL_PRC",
					"MMR_RGN_PRC",
					"REMKT_PRCNG_PD",
					"VINKEY_CND_ADJ",
					"VINKEY_MSTR",
					"VINKEY_VIN_TRNSL"
				]
			}
		},
		"folder": {
			"name": "MMR"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}