ADFIntegration/pipeline/MRA_incremental_parent_pl.json
{
	"name": "MRA_incremental_parent_pl",
	"properties": {
		"activities": [
			{
				"name": "Lkp_Batches",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "MRA_Files_Splitter",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "mra_batch_details",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachBatch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lkp_Batches",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lkp_Batches').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "MRA_daily_inc_child_execute_batch",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "MRA_incremental_child_execute_batch",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"batch_name": {
										"value": "@item().batch_name",
										"type": "Expression"
									},
									"execution_order": {
										"value": "@item().execution_order",
										"type": "Expression"
									},
									"run_date": {
										"value": "@if(equals(pipeline().parameters.run_date,'0001-01-01'),utcnow('yyyy-MM-dd'),pipeline().parameters.run_date)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Unzip_From_Domain_To_Reservoir",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "mra_g2_src",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@if(equals(pipeline().parameters.run_date,'0001-01-01'),utcnow('yyyy-MM-dd'),pipeline().parameters.run_date)",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Uncompress_dest_MRA_v2",
						"type": "DatasetReference",
						"parameters": {
							"file_system": "adls-dms-mra",
							"run_date": {
								"value": "@if(equals(pipeline().parameters.run_date,'0001-01-01'),utcnow('yyyy-MM-dd'),pipeline().parameters.run_date)",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "MRA_Files_Splitter",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Unzip_From_Domain_To_Reservoir",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "MRA_Files_Splitter",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"rundate": {
							"value": "@if(equals(pipeline().parameters.run_date,'0001-01-01'),utcnow('yyyy-MM-dd'),pipeline().parameters.run_date)",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"run_date": {
				"type": "string",
				"defaultValue": "0001-01-01"
			}
		},
		"folder": {
			"name": "MRA/MRA Daily incremental"
		},
		"annotations": []
	}
}