ADFIntegration/pipeline/MRA_Files_Splitter.json
{
	"name": "MRA_Files_Splitter",
	"properties": {
		"activities": [
			{
				"name": "LookupFilesToSplit",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "FilesToSplitConfig",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Run File Split Notebooks",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupFilesToSplit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupFilesToSplit').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DBx_Split",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@item().notebook_path",
									"type": "Expression"
								},
								"baseParameters": {
									"run_date": {
										"value": "@pipeline().parameters.rundate",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sp_update_split_file_status_mra",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DBx_Split",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
								"storedProcedureParameters": {
									"ADW_SCHEMA": {
										"value": {
											"value": "ADW_DMS_MRA",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADW_TABLE": {
										"value": {
											"value": "@substring(item().notebook_path, 35,15)",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_EXECUTED_FOR_DT": {
										"value": {
											"value": "@pipeline().parameters.rundate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DW_UPDT_BY": {
										"value": null,
										"type": "String"
									},
									"DW_UPDT_DT": {
										"value": null,
										"type": "DateTime"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "@activity('DBx_Split').output?.runError",
											"type": "Expression"
										},
										"type": "String"
									},
									"EXECUTION_STATUS": {
										"value": {
											"value": "Failed",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"REMARK": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"rundate": {
				"type": "string"
			}
		},
		"folder": {
			"name": "MRA"
		},
		"annotations": []
	}
}