ADFIntegration/pipeline/MSS_Daily.json
{
	"name": "MSS_Daily",
	"properties": {
		"activities": [
			{
				"name": "Transform_MSS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get File Names from ADLS_Source",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get File Names from ADLS_Source').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "MSS Copy Data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": {
											"value": "@{concat('MSS/MSS_PROCESSED/',formatDateTime(adddays(utcnow(),-1),'yyyy-MM-dd'),'/')}",
											"type": "Expression"
										},
										"wildcardFileName": "*.*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBatchTimeout": "02:30:00",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE ADW_FINANCE_MSS.' ,item().name)}",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": false
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true
							},
							"inputs": [
								{
									"referenceName": "MSS_Processed_Gen2",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "MSS_Tables",
									"type": "DatasetReference",
									"parameters": {
										"DWTableName": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"DWSchema": "ADW_FINANCE_MSS"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Unzip_From_Domain_To_Reservoir",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureDataLakeStoreReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Uncompress_MSS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Uncompress_des_gen2_MSS",
						"type": "DatasetReference",
						"parameters": {
							"file_system": "adls-finance-mss"
						}
					}
				]
			},
			{
				"name": "Get File Names from ADLS_Source",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MSS_GEN2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Unzip_From_Domain_To_Reservoir",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 10,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/ETL/MSS/MSS_Main_Delta"
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"test": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "MSS"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}