ADFIntegration/pipeline/PDW_delta_child03_insert_update.json
{
	"name": "PDW_delta_child03_insert_update",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_pdw_dest_delta",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "@pipeline().parameters.table_name",
							"run_date": "@pipeline().parameters.run_date",
							"container_name": "@pipeline().parameters.container_name"
						}
					},
					"fieldList": [
						"exists",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set FileExists",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vFileExists",
					"value": {
						"value": "@string(activity('Get Metadata1').output.exists)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "DBx_Transform",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set FileExists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.notebook_path",
						"type": "Expression"
					},
					"baseParameters": {
						"run_date": {
							"value": "@pipeline().parameters.run_date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File_Found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "DBx_Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('DBx_Transform').output.runOutput,'Success')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Create_STG_TBL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_CREATE_STG_TBL')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create_STG_TBL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "@concat('/processed/',pipeline().parameters.table_name,'/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "base_pattern_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": "@pipeline().parameters.container_name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "sp_WaterMark_TBL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert_Update_Drop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADW_CTRL_STG].[sp_WaterMark_TBL]",
								"storedProcedureParameters": {
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"WATERMARK_DT_UTC": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"FILE_EXISTS_STATUS": {
										"value": {
											"value": "@variables('vFileExists')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADW_SCHEMA": {
										"value": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"SOURCE_FILE_NAME": {
										"value": {
											"value": "@activity('Get Metadata1').output?.itemName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_TYPE": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"TRIGGER_NAME": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"CONTAINER_NAME": {
										"value": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"ROW_COUNT": {
										"value": {
											"value": "@int(variables('vRowsCopied'))",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "@activity('Insert_Update_Drop').output?.errors",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set RowsCopied",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vRowsCopied",
								"value": {
									"value": "@string(activity('Copy_to_ADW_STG').output?.rowsCopied)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Insert_Update_Drop",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_INSERT_UPDATE')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "If_PII",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "File_Found",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(and(equals(activity('DBx_Transform').output.runOutput,'Success'),equals(pipeline().parameters.contains_pii,'True')),equals(pipeline().DataFactory,'xto-MS-edwdev-us-rsv-factory'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Mask_Data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "masking_utility",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									},
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"config_folder": {
										"value": "@pipeline().parameters.config_folder",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_WaterMark_Databricks_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DBx_Transform",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADW_CTRL_STG].[sp_WaterMark_TBL]",
					"storedProcedureParameters": {
						"ADW_TABLE": {
							"value": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"WATERMARK_DT_UTC": {
							"value": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"PIPELINE_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"FILE_EXISTS_STATUS": {
							"value": {
								"value": "@variables('vFileExists')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ADW_SCHEMA": {
							"value": {
								"value": "@pipeline().parameters.schema_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"PIPELINE_NAME": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"SOURCE_FILE_NAME": {
							"value": {
								"value": "@activity('Get Metadata1').output?.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PARENT_PIPELINE": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TRIGGER_TYPE": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TRIGGER_NAME": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"CONTAINER_NAME": {
							"value": {
								"value": "@pipeline().parameters.container_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"ROW_COUNT": {
							"value": null,
							"type": "Int32"
						},
						"EXCEPTIONS": {
							"value": {
								"value": "@activity('DBx_Transform').output?.runError",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDW2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			},
			"schema_name": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"run_date": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			},
			"contains_pii": {
				"type": "string"
			},
			"config_folder": {
				"type": "string"
			}
		},
		"variables": {
			"vFileExists": {
				"type": "String"
			},
			"vRowsCopied": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Delta_watermark/PDW_DAILY_REFRESH"
		},
		"annotations": []
	}
}