ADFIntegration/pipeline/PDW_ADHOC_INSERT_UPDATE.json
{
	"name": "PDW_ADHOC_INSERT_UPDATE",
	"properties": {
		"activities": [
			{
				"name": "DBx_Transform",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.notebook_path",
						"type": "Expression"
					},
					"baseParameters": {
						"run_date": {
							"value": "@pipeline().parameters.run_date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File_Found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "DBx_Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('DBx_Transform').output.runOutput,'Success')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Create_STG_TBL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_CREATE_STG_TBL')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create_STG_TBL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/processed/',pipeline().parameters.table_name,'/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_pdw_base_pattern_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": "@pipeline().parameters.container_name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_pdw_base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": "@pipeline().parameters.schema_name",
										"table_name": "@pipeline().parameters.table_name"
									}
								}
							]
						},
						{
							"name": "Insert_Update_Drop",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_INSERT_UPDATE')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"run_date": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			}
		},
		"folder": {
			"name": "PDW/PDW_ADHOC_EXECUTION"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}