ADFIntegration/pipeline/PDW_ADHOC_CHILD01.json
{
	"name": "PDW_ADHOC_CHILD01",
	"properties": {
		"activities": [
			{
				"name": "Lookup Tables Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[ADW_PDW_EDW_STG].[GET_ADHOC_PIPELINE_TABLES]",
						"storedProcedureParameters": {
							"PI_RUN_TYPE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.RUN_TYPE",
									"type": "Expression"
								}
							},
							"PI_RUNDATE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.RUN_DATE",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_pdw_list_lookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Parallel",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "P_Parallel",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('P_Parallel').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "if_truncate_and_reload_parallel",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Unzip Files_Parallel",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().PIPELINE_TYPE,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute Incremtal Load_parallel",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PDW_ADHOC_INSERT_UPDATE",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": {
													"value": "@concat(item().SCHEMA_NAME,'_STG')",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().CONTAINER_TARGET",
													"type": "Expression"
												},
												"run_date": {
													"value": "@pipeline().parameters.RUN_DATE",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().NOTEBOOK_PATH",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Failure log2 parallel",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Execute Incremtal Load_parallel",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
											"storedProcedureParameters": {
												"ADW_SCHEMA": {
													"value": {
														"value": "@item().CONTAINER_TARGET",
														"type": "Expression"
													},
													"type": "String"
												},
												"ADW_TABLE": {
													"value": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_EXECUTED_FOR_DT": {
													"value": {
														"value": "@pipeline().parameters.RUN_DATE",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"DW_UPDT_BY": {
													"value": null,
													"type": "String"
												},
												"DW_UPDT_DT": {
													"value": null,
													"type": "DateTime"
												},
												"EXCEPTIONS": {
													"value": {
														"value": "@activity('Execute Incremtal Load_parallel').Error?.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS": {
													"value": "Adhoc Failed",
													"type": "String"
												},
												"PARENT_PIPELINE": {
													"value": {
														"value": "@pipeline()?.TriggeredByPipelineName",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_RUN_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"REMARK": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDW2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Fail Incremental load failed Parallel",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Failure log2 parallel",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "Incremental load failed (Parallel)",
											"errorCode": "500"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Full load Pipeline_parallel",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PDW_ADHOC_TRUNCATE_RELOAD",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@pipeline().parameters.RUN_DATE",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().SCHEMA_NAME",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().CONTAINER_TARGET",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().NOTEBOOK_PATH",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Failure log1 parallel",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Execute Full load Pipeline_parallel",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
											"storedProcedureParameters": {
												"ADW_SCHEMA": {
													"value": {
														"value": "@item().CONTAINER_TARGET",
														"type": "Expression"
													},
													"type": "String"
												},
												"ADW_TABLE": {
													"value": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_EXECUTED_FOR_DT": {
													"value": {
														"value": "@pipeline().parameters.RUN_DATE",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"DW_UPDT_BY": {
													"value": null,
													"type": "String"
												},
												"DW_UPDT_DT": {
													"value": null,
													"type": "DateTime"
												},
												"EXCEPTIONS": {
													"value": {
														"value": "@activity('Execute Full load Pipeline_parallel').Error?.message\n",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS": {
													"value": "Adhoc Failed",
													"type": "String"
												},
												"PARENT_PIPELINE": {
													"value": {
														"value": "@pipeline()?.TriggeredByPipelineName",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_RUN_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"REMARK": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDW2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Fail Full load failed Parallel",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Failure log1 parallel",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "Full load failed (Parallel)",
											"errorCode": "500"
										}
									}
								]
							}
						},
						{
							"name": "Unzip Files_Parallel",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().IS_UNZIP,true )",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Unzip_PDW_Files_Parallel",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_pdw_uncompressed_src",
												"type": "DatasetReference",
												"parameters": {
													"run_date": {
														"value": "@item().UNZIP_PULL_DATE",
														"type": "Expression"
													},
													"file_path": {
														"value": "@item().ADLS_SOURCE_PATH",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_PDW_unzip_sink",
												"type": "DatasetReference",
												"parameters": {
													"FILE_SYSTEM": {
														"value": "@item().CONTAINER_TARGET",
														"type": "Expression"
													},
													"run_date": {
														"value": "@item().UNZIP_PULL_DATE",
														"type": "Expression"
													},
													"FILE_PATH": {
														"value": "@item().ADLS_TARGET_PATH",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "ForEach Sequence",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Others_Sequence",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Others_Sequence').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stop Foreach loop",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "check_last_run",
								"value": {
									"value": "@if( equals(variables('is_last_run_success'),true),true,'IamStringThatBreaksTypeError' )",
									"type": "Expression"
								}
							}
						},
						{
							"name": "skip foreach",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "if_truncate_and_reload",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "is_last_run_success",
								"value": false
							}
						},
						{
							"name": "if_truncate_and_reload",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Unzip Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().PIPELINE_TYPE,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute Incremtal Load",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PDW_ADHOC_INSERT_UPDATE",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": {
													"value": "@concat(item().SCHEMA_NAME,'_STG')",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().CONTAINER_TARGET",
													"type": "Expression"
												},
												"run_date": {
													"value": "@pipeline().parameters.RUN_DATE",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().NOTEBOOK_PATH",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Failure log2 sequence",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Execute Incremtal Load",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
											"storedProcedureParameters": {
												"ADW_SCHEMA": {
													"value": {
														"value": "@item().CONTAINER_TARGET",
														"type": "Expression"
													},
													"type": "String"
												},
												"ADW_TABLE": {
													"value": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_EXECUTED_FOR_DT": {
													"value": {
														"value": "@pipeline().parameters.RUN_DATE",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"DW_UPDT_BY": {
													"value": null,
													"type": "String"
												},
												"DW_UPDT_DT": {
													"value": null,
													"type": "DateTime"
												},
												"EXCEPTIONS": {
													"value": {
														"value": "@activity('Execute Incremtal Load').Error?.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS": {
													"value": "Adhoc Failed",
													"type": "String"
												},
												"PARENT_PIPELINE": {
													"value": {
														"value": "@pipeline()?.TriggeredByPipelineName",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_RUN_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"REMARK": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDW2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Fail Incremental load filed Sequence",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Failure log2 sequence",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "Incremental load filed (Sequence)",
											"errorCode": "500"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Full load Pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PDW_ADHOC_TRUNCATE_RELOAD",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@pipeline().parameters.RUN_DATE",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().TABLE_NAME",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().SCHEMA_NAME",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().CONTAINER_TARGET",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().NOTEBOOK_PATH",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "Failure log1 sequence",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Execute Full load Pipeline",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
											"storedProcedureParameters": {
												"ADW_SCHEMA": {
													"value": {
														"value": "@item().CONTAINER_TARGET",
														"type": "Expression"
													},
													"type": "String"
												},
												"ADW_TABLE": {
													"value": {
														"value": "@item().TABLE_NAME",
														"type": "Expression"
													},
													"type": "String"
												},
												"DATA_EXECUTED_FOR_DT": {
													"value": {
														"value": "@pipeline().parameters.RUN_DATE",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"DW_UPDT_BY": {
													"value": null,
													"type": "String"
												},
												"DW_UPDT_DT": {
													"value": null,
													"type": "DateTime"
												},
												"EXCEPTIONS": {
													"value": {
														"value": "@activity('Execute Full load Pipeline').Error?.message\n",
														"type": "Expression"
													},
													"type": "String"
												},
												"EXECUTION_STATUS": {
													"value": "Adhoc Failed",
													"type": "String"
												},
												"PARENT_PIPELINE": {
													"value": {
														"value": "@pipeline()?.TriggeredByPipelineName",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_NAME": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"PIPELINE_RUN_ID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"REMARK": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDW2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Fail Full load failed Sequence",
										"type": "Fail",
										"dependsOn": [
											{
												"activity": "Failure log1 sequence",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"message": "Full load failed (Sequence)",
											"errorCode": "500"
										}
									}
								]
							}
						},
						{
							"name": "Unzip Files",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Stop Foreach loop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().IS_UNZIP,true )",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Unzip_PDW_Files",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true
												},
												"formatSettings": {
													"type": "BinaryReadSettings",
													"compressionProperties": {
														"type": "ZipDeflateReadSettings"
													}
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "DS_pdw_uncompressed_src",
												"type": "DatasetReference",
												"parameters": {
													"run_date": {
														"value": "@item().UNZIP_PULL_DATE",
														"type": "Expression"
													},
													"file_path": {
														"value": "@item().ADLS_SOURCE_PATH",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_PDW_unzip_sink",
												"type": "DatasetReference",
												"parameters": {
													"FILE_SYSTEM": {
														"value": "@item().CONTAINER_TARGET",
														"type": "Expression"
													},
													"run_date": {
														"value": "@item().UNZIP_PULL_DATE",
														"type": "Expression"
													},
													"FILE_PATH": {
														"value": "@item().ADLS_TARGET_PATH",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "P_Parallel",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Tables Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tables Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().Run_Type,'P' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Others_Sequence",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Tables Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tables Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().Run_Type,'P' ))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"RUN_TYPE": {
				"type": "string"
			},
			"RUN_DATE": {
				"type": "string"
			}
		},
		"variables": {
			"is_last_run_success": {
				"type": "Boolean",
				"defaultValue": true
			},
			"check_last_run": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"folder": {
			"name": "PDW/PDW_ADHOC_EXECUTION"
		},
		"annotations": []
	}
}