ADFIntegration/pipeline/PDW_Daily_Incremental_watermark.json
{
	"name": "PDW_Daily_Incremental_watermark",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set EndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "pdw_table_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff_Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "if_truncate_and_reload",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "execute_insert_update",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PDW_delta_child01_incremental_watermark",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": "ADW_PDW_EDW_STG",
												"container_name": {
													"value": "@pipeline().parameters.container_name",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().notebook_path",
													"type": "Expression"
												},
												"contains_pii": {
													"value": "@item()?.contains_pii",
													"type": "Expression"
												},
												"config_folder": "pdw-edw",
												"end_date": {
													"value": "@variables('vEndDate')",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "execute_truncate_reload",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "incremental_truncate_reload",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": "ADW_PDW_EDW",
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"container_name": {
													"value": "@pipeline().parameters.container_name",
													"type": "Expression"
												},
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().notebook_path",
													"type": "Expression"
												},
												"contains_pii": {
													"value": "@item()?.contains_pii",
													"type": "Expression"
												},
												"config_folder": "pdw-edw"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set EndDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute ParagonUnzip",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vEndDate",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute ParagonUnzip",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PDW_ParagonUnzip_child01_watermark",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"extract_folder_name": {
							"value": "@pipeline().parameters.extract_folder_name",
							"type": "Expression"
						},
						"table_name": "PDW_Paragon_Unzip",
						"container_name": {
							"value": "@pipeline().parameters.container_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"container_name": {
				"type": "string",
				"defaultValue": "adls-pdw-edw"
			},
			"extract_folder_name": {
				"type": "string",
				"defaultValue": "adls-pdw-edw-raw-paragon"
			}
		},
		"variables": {
			"vEndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Delta_watermark/PDW_Daily_Incremental"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}