ADFIntegration/pipeline/PDW_DAILY_REFRESH_watermark.json
{
	"name": "PDW_DAILY_REFRESH_watermark",
	"properties": {
		"activities": [
			{
				"name": "Lookup Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set EndDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_json_tables_poc_delta",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If truncate_reload condition",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute watermark PL",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PDW_delta_child01_watermark",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@concat('/DataEngineering/PDW/PDW_Insert_Update/', item().table)",
													"type": "Expression"
												},
												"contains_pii": "False",
												"config_folder": "NA",
												"end_date": {
													"value": "@variables('vPipelineEndDate')",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Pass through Truncate_reload",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Pass_through_truncate_reload",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set EndDate",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute PDW DailyExtract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vPipelineEndDate",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute PDW DailyExtract",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PDW_dailyExtracts_child01_watermark",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"extract_folder_name": "adls-pdw-edw-raw-edw"
					}
				}
			}
		],
		"variables": {
			"vTableExecute": {
				"type": "String"
			},
			"vPipelineEndDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Delta_watermark/PDW_DAILY_REFRESH"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}