ADFIntegration/pipeline/PDW_dailyExtracts_child03_unzip.json
{
	"name": "PDW_dailyExtracts_child03_unzip",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Unzipping Daily Extracts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_pdw_dest_metadata_delta",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							},
							"container_name": "adls-pdw-edw"
						}
					},
					"fieldList": [
						"exists",
						"itemType",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "sp_WaterMark_dailyExtracts",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADW_CTRL_STG].[sp_WaterMark_TBL]",
					"storedProcedureParameters": {
						"ADW_TABLE": {
							"value": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"WATERMARK_DT_UTC": {
							"value": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"PIPELINE_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"FILE_EXISTS_STATUS": {
							"value": {
								"value": "@string(activity('Get Metadata Folder').output?.exists)",
								"type": "Expression"
							},
							"type": "String"
						},
						"ADW_SCHEMA": {
							"value": null,
							"type": "String"
						},
						"PIPELINE_NAME": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"SOURCE_FILE_NAME": {
							"value": {
								"value": "@activity('Get Metadata Folder').output?.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PARENT_PIPELINE": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TRIGGER_TYPE": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TRIGGER_NAME": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"CONTAINER_NAME": {
							"value": {
								"value": "@pipeline().parameters.container_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"ROW_COUNT": {
							"value": {
								"value": "@activity('Unzipping Daily Extracts').output?.filesWritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EXCEPTIONS": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDW2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Unzipping Daily Extracts",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_uncompressed_pdw_daily_refresh",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_pdw_dest_copy_delta",
						"type": "DatasetReference",
						"parameters": {
							"FILE_SYSTEM": "adls-pdw-edw",
							"run_date": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "sp_WaterMark_dailyExtracts_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Unzipping Daily Extracts",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADW_CTRL_STG].[sp_WaterMark_TBL]",
					"storedProcedureParameters": {
						"ADW_TABLE": {
							"value": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"WATERMARK_DT_UTC": {
							"value": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"PIPELINE_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"FILE_EXISTS_STATUS": {
							"value": null,
							"type": "String"
						},
						"ADW_SCHEMA": {
							"value": null,
							"type": "String"
						},
						"PIPELINE_NAME": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"SOURCE_FILE_NAME": {
							"value": null,
							"type": "String"
						},
						"PARENT_PIPELINE": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "String"
						},
						"TRIGGER_TYPE": {
							"value": {
								"value": "@pipeline().TriggerType",
								"type": "Expression"
							},
							"type": "String"
						},
						"TRIGGER_NAME": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						},
						"CONTAINER_NAME": {
							"value": {
								"value": "@pipeline().parameters.container_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"ROW_COUNT": {
							"value": {
								"value": "@activity('Unzipping Daily Extracts').output?.filesWritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"EXCEPTIONS": {
							"value": {
								"value": "@activity('Unzipping Daily Extracts').output?.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDW2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": "adls-pdw-edw-raw-edw"
			},
			"container_name": {
				"type": "string",
				"defaultValue": "adls-pdw-edw"
			},
			"run_date": {
				"type": "string"
			}
		},
		"variables": {
			"vFolderExists": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Delta_watermark/PDW_DAILY_REFRESH"
		},
		"annotations": []
	}
}