ADFIntegration/pipeline/PDW_DAILY_REFRESH.json
{
	"name": "PDW_DAILY_REFRESH",
	"properties": {
		"activities": [
			{
				"name": "Lookup Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Unzipping Daily Extracts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "json_tables_poc",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If truncate_reload condition",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute _incremental_unsert_update",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "incremental_insert_update",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												},
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@concat('/DataEngineering/PDW/PDW_Insert_Update/', item().table)",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Pass through Truncate_reload",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Pass_through_truncate_reload",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Unzipping Daily Extracts",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "uncompressed_pdw_daily_refresh",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "pdw_dest",
						"type": "DatasetReference",
						"parameters": {
							"FILE_SYSTEM": "adls-pdw-edw"
						}
					}
				]
			}
		],
		"folder": {
			"name": "PDW"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}