ADFIntegration/pipeline/PDW_Daily_Incremental.json
{
	"name": "PDW_Daily_Incremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Unzip_Paragon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "pdw_table_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff_Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "if_truncate_and_reload",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "execute_insert_update",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "incremental_insert_update",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": "ADW_PDW_EDW_STG",
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"container_name": {
													"value": "@pipeline().parameters.container_name",
													"type": "Expression"
												},
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().notebook_path",
													"type": "Expression"
												},
												"contains_pii": {
													"value": "@item()?.contains_pii",
													"type": "Expression"
												},
												"config_folder": "pdw-edw"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "execute_truncate_reload",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "incremental_truncate_reload",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": "ADW_PDW_EDW",
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"container_name": {
													"value": "@pipeline().parameters.container_name",
													"type": "Expression"
												},
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().notebook_path",
													"type": "Expression"
												},
												"contains_pii": {
													"value": "@item()?.contains_pii",
													"type": "Expression"
												},
												"config_folder": "pdw-edw"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Unzip_Paragon",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 1800,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "domain_paragon",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@utcnow('yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "paragon_reservoir_sink",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "adls-pdw-edw",
							"run_date": {
								"value": "@utcnow('yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"container_name": {
				"type": "string",
				"defaultValue": "adls-pdw-edw"
			},
			"test": {
				"type": "string",
				"defaultValue": "test"
			}
		},
		"folder": {
			"name": "pipeline_framework"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-06T16:19:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}