ADFIntegration/pipeline/PDW_incremental_child_execute_and_load_table.json
{
	"name": "PDW_incremental_child_execute_and_load_table",
	"properties": {
		"activities": [
			{
				"name": "DBx_Transform",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.notebook_path",
						"type": "Expression"
					},
					"baseParameters": {
						"run_date": {
							"value": "@pipeline().parameters.run_date",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "File_Found",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "DBx_Transform",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('DBx_Transform').output.runOutput,'Success')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "sp_update_tbl_status_pdw_input_file_not_found",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
								"storedProcedureParameters": {
									"ADW_SCHEMA": {
										"value": {
											"value": "ADW_PDW_EDW",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_EXECUTED_FOR_DT": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DW_UPDT_BY": {
										"value": null,
										"type": "String"
									},
									"DW_UPDT_DT": {
										"value": null,
										"type": "DateTime"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "@if(contains(activity('DBx_Transform').output.runOutput,'Exempted from logging failure'),activity('DBx_Transform').output.runOutput,'Input File Not Found')",
											"type": "Expression"
										},
										"type": "String"
									},
									"EXECUTION_STATUS": {
										"value": {
											"value": "@if(contains(activity('DBx_Transform').output.runOutput,'Exempted from logging failure'),'Info','Failed')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"REMARK": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail_pl",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sp_update_tbl_status_pdw_input_file_not_found",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(pipeline().parameters.table_name,': File not found ')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "XXX",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Create_STG_TBL",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_CREATE_STG_TBL')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Copy_to_ADW_STG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Create_STG_TBL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('/processed/',pipeline().parameters.table_name,'/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
											"type": "Expression"
										},
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "base_pattern_csv",
									"type": "DatasetReference",
									"parameters": {
										"source_container_name": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "base_pattern_dw",
									"type": "DatasetReference",
									"parameters": {
										"schema_name": {
											"value": "@pipeline().parameters.schema_name",
											"type": "Expression"
										},
										"table_name": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Insert_Update_Drop",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_INSERT_UPDATE')",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sp_update_tbl_status_pdw_from_load_process_3",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insert_Update_Drop",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
								"storedProcedureParameters": {
									"ADW_SCHEMA": {
										"value": {
											"value": "ADW_PDW_EDW",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_EXECUTED_FOR_DT": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DW_UPDT_BY": {
										"value": null,
										"type": "String"
									},
									"DW_UPDT_DT": {
										"value": null,
										"type": "DateTime"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "Target table load process failed ",
											"type": "Expression"
										},
										"type": "String"
									},
									"EXECUTION_STATUS": {
										"value": {
											"value": "Failed",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"REMARK": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail_pl_load_issue_3",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sp_update_tbl_status_pdw_from_load_process_3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(pipeline().parameters.table_name,': issue somewhere within target load process ')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "XXX",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_update_tbl_status_pdw_from_load_process_1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Create_STG_TBL",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
								"storedProcedureParameters": {
									"ADW_SCHEMA": {
										"value": {
											"value": "ADW_PDW_EDW",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_EXECUTED_FOR_DT": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DW_UPDT_BY": {
										"value": null,
										"type": "String"
									},
									"DW_UPDT_DT": {
										"value": null,
										"type": "DateTime"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "Target table load process failed ",
											"type": "Expression"
										},
										"type": "String"
									},
									"EXECUTION_STATUS": {
										"value": {
											"value": "Failed",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"REMARK": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail_pl_load_issue_1",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sp_update_tbl_status_pdw_from_load_process_1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(pipeline().parameters.table_name,': issue somewhere within target load process ')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "XXX",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sp_update_tbl_status_pdw_from_load_process_2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_to_ADW_STG",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
								"storedProcedureParameters": {
									"ADW_SCHEMA": {
										"value": {
											"value": "ADW_PDW_EDW",
											"type": "Expression"
										},
										"type": "String"
									},
									"ADW_TABLE": {
										"value": {
											"value": "@pipeline().parameters.table_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"DATA_EXECUTED_FOR_DT": {
										"value": {
											"value": "@pipeline().parameters.run_date",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DW_UPDT_BY": {
										"value": null,
										"type": "String"
									},
									"DW_UPDT_DT": {
										"value": null,
										"type": "DateTime"
									},
									"EXCEPTIONS": {
										"value": {
											"value": "Target table load process failed ",
											"type": "Expression"
										},
										"type": "String"
									},
									"EXECUTION_STATUS": {
										"value": {
											"value": "Failed",
											"type": "Expression"
										},
										"type": "String"
									},
									"PARENT_PIPELINE": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineName",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_NAME": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PIPELINE_RUN_ID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"REMARK": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDW2",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Fail_pl_load_issue_2",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sp_update_tbl_status_pdw_from_load_process_2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat(pipeline().parameters.table_name,': issue somewhere within target load process ')",
									"type": "Expression"
								},
								"errorCode": {
									"value": "XXX",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_update_tbl_status_pdw_from_transformation_process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DBx_Transform",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ADW_PDW_EDW].[sp_PDW_FAILED_TABLES_STATUS]",
					"storedProcedureParameters": {
						"ADW_SCHEMA": {
							"value": {
								"value": "ADW_PDW_EDW",
								"type": "Expression"
							},
							"type": "String"
						},
						"ADW_TABLE": {
							"value": {
								"value": "@pipeline().parameters.table_name",
								"type": "Expression"
							},
							"type": "String"
						},
						"DATA_EXECUTED_FOR_DT": {
							"value": {
								"value": "@pipeline().parameters.run_date",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"DW_UPDT_BY": {
							"value": null,
							"type": "String"
						},
						"DW_UPDT_DT": {
							"value": null,
							"type": "DateTime"
						},
						"EXCEPTIONS": {
							"value": {
								"value": "@activity('DBx_Transform').output?.runError",
								"type": "Expression"
							},
							"type": "String"
						},
						"EXECUTION_STATUS": {
							"value": {
								"value": "Failed",
								"type": "Expression"
							},
							"type": "String"
						},
						"PARENT_PIPELINE": {
							"value": {
								"value": "@pipeline()?.TriggeredByPipelineName",
								"type": "Expression"
							},
							"type": "String"
						},
						"PIPELINE_NAME": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PIPELINE_RUN_ID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"REMARK": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDW2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail_pl_nb_issue",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "sp_update_tbl_status_pdw_from_transformation_process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@concat(pipeline().parameters.table_name,': issue within databricks notebook ')",
						"type": "Expression"
					},
					"errorCode": {
						"value": "XXX",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"run_date": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			}
		},
		"folder": {
			"name": "PDW/Daily incremental"
		},
		"annotations": []
	}
}