ADFIntegration/pipeline/PDW_delta_child01_incremental_watermark.json
{
	"name": "PDW_delta_child01_incremental_watermark",
	"properties": {
		"activities": [
			{
				"name": "LookupWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT DATEADD(Day,1,MAX(WATERMARK_DT_UTC)) as NewWatermarkValue FROM ADW_CTRL_STG.WaterMark_TBL WHERE FILE_EXISTS_STATUS = ''True'' AND ADW_TABLE = ''',pipeline().parameters.table_name,'''' )",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Watermark_Tbl",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Null Watermark",
				"description": "If True, insert table record in watermark table.\nIf False, execute incremental pipeline for table.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LookupWatermark').output.firstRow.NewWatermarkValue, null)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Execute delta_loop",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PDW_delta_child02_incremental_loop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"start_date": {
										"value": "@activity('LookupWatermark').output.firstRow.NewWatermarkValue",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"schema_name": {
										"value": "@pipeline().parameters.schema_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									},
									"notebook_path": {
										"value": "@pipeline().parameters.notebook_path",
										"type": "Expression"
									},
									"config_folder": {
										"value": "@pipeline().parameters.config_folder",
										"type": "Expression"
									},
									"contains_pii": {
										"value": "@pipeline().parameters.contains_pii",
										"type": "Expression"
									},
									"end_date": {
										"value": "@pipeline().parameters.end_date",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Execute delta_loop prev_day",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PDW_delta_child02_incremental_loop",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"start_date": {
										"value": "@formatDateTime(addDays(utcnow(),-1),'yyyy-MM-dd')",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"schema_name": {
										"value": "@pipeline().parameters.schema_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									},
									"notebook_path": {
										"value": "@pipeline().parameters.notebook_path",
										"type": "Expression"
									},
									"config_folder": {
										"value": "@pipeline().parameters.config_folder",
										"type": "Expression"
									},
									"contains_pii": {
										"value": "@pipeline().parameters.contains_pii",
										"type": "Expression"
									},
									"end_date": {
										"value": "@pipeline().parameters.end_date",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			},
			"schema_name": {
				"type": "string",
				"defaultValue": "ADW_PDW_EDW_STG"
			},
			"container_name": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			},
			"contains_pii": {
				"type": "string"
			},
			"config_folder": {
				"type": "string"
			},
			"end_date": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Delta_watermark/PDW_Daily_Incremental"
		},
		"annotations": []
	}
}