ADFIntegration/pipeline/pi_warranty_FFV.json
{
	"name": "pi_warranty_FFV",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "wrnty-opr/pipeline-table-config/Prod_config/07_FFV",
							"wildcardFileName": {
								"value": "@pipeline().parameters.file_names",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Warranty_incre_test_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Truncate and Reload",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Switch1",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().table",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "FFV_VEH_RRPR",
													"activities": [
														{
															"name": "Execute FFV_VEH_RRPR",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "warranty_FFV_VEH_RRPR",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"force_run": {
																		"value": "@pipeline().parameters.force_run_value",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "FFV_VEH_RPR",
													"activities": [
														{
															"name": "Stored procedure1",
															"type": "SqlServerStoredProcedure",
															"dependsOn": [
																{
																	"activity": "Execute Incremental Insert Update Pipeline_copy1",
																	"dependencyConditions": [
																		"Succeeded"
																	]
																}
															],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"storedProcedureName": "[ADW_WRNTY_EDW_STG].[FFV_VEH_RPR_UPDATE]"
															},
															"linkedServiceName": {
																"referenceName": "AzureSqlDW2",
																"type": "LinkedServiceReference"
															}
														},
														{
															"name": "Execute Incremental Insert Update Pipeline_copy1",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "pi_warranty_incremental_insert_update",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"force_run": {
																		"value": "@pipeline().parameters.force_run_value",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "FFV_DLR_COM_SMY",
													"activities": [
														{
															"name": "Execute warranty_FFV_DLR_COM_SMY Pipeline_copy2",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "warranty_FFV_DLR_COM_SMY",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"force_run": {
																		"value": "@pipeline().parameters.force_run_value",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "FFV_RGN_SMY",
													"activities": [
														{
															"name": "Execute warranty_FFV_RGN_SMY Pipeline_copy1",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "warranty_FFV_RGN_SMY",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"force_run": {
																		"value": "@pipeline().parameters.force_run_value",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "FFV_NATL_SMY",
													"activities": [
														{
															"name": "Execute warranty_FFV_NATL_SMY Pipeline",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "warranty_FFV_NATL_SMY",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"force_run": {
																		"value": "@pipeline().parameters.force_run_value",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												}
											],
											"defaultActivities": [
												{
													"name": "Execute Incremental Insert Update Pipeline",
													"type": "ExecutePipeline",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"pipeline": {
															"referenceName": "pi_warranty_incremental_insert_update",
															"type": "PipelineReference"
														},
														"waitOnCompletion": true,
														"parameters": {
															"schema_name": {
																"value": "@item().schema",
																"type": "Expression"
															},
															"table_name": {
																"value": "@item().table",
																"type": "Expression"
															},
															"container_name": {
																"value": "@item().container",
																"type": "Expression"
															},
															"run_date": {
																"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
																"type": "Expression"
															},
															"notebook_path": {
																"value": "@item().notebook_path",
																"type": "Expression"
															},
															"force_run": {
																"value": "@pipeline().parameters.force_run_value",
																"type": "Expression"
															}
														}
													}
												}
											]
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"force_run_value": {
				"type": "string",
				"defaultValue": "0"
			},
			"run_date": {
				"type": "string",
				"defaultValue": "yyyy-mm-dd"
			},
			"file_names": {
				"type": "string",
				"defaultValue": "*.json"
			}
		},
		"folder": {
			"name": "WARRANTY|Remarketing"
		},
		"annotations": []
	}
}