ADFIntegration/pipeline/pi_warranty_ELC.json
{
	"name": "pi_warranty_ELC",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Unzip_Operational_Extract",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "wrnty-opr/pipeline-table-config/Prod_config/02_ELC",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@pipeline().parameters.file_names",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Warranty_incre_test_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Truncate and Reload",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Switch1",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().table",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "test",
													"activities": [
														{
															"name": "Wait1",
															"type": "Wait",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"waitTimeInSeconds": 1
															}
														}
													]
												}
											],
											"defaultActivities": [
												{
													"name": "Execute Incremental Insert Update Pipeline",
													"type": "ExecutePipeline",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"pipeline": {
															"referenceName": "pi_warranty_incremental_insert_update",
															"type": "PipelineReference"
														},
														"waitOnCompletion": true,
														"parameters": {
															"schema_name": {
																"value": "@item().schema",
																"type": "Expression"
															},
															"table_name": {
																"value": "@item().table",
																"type": "Expression"
															},
															"container_name": {
																"value": "@item().container",
																"type": "Expression"
															},
															"run_date": {
																"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
																"type": "Expression"
															},
															"notebook_path": {
																"value": "@item().notebook_path",
																"type": "Expression"
															},
															"force_run": {
																"value": "@pipeline().parameters.force_run_value",
																"type": "Expression"
															}
														}
													}
												}
											]
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Truncate reload pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pi_warranty_incremental_truncate_reload",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().notebook_path",
													"type": "Expression"
												},
												"force_run": {
													"value": "@pipeline().parameters.force_run_value",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Unzip_Operational_Extract",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Warranty_incre_uncompressed_pi_framework",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Warranty_incre_destination_pi_framework",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@if(equals(pipeline().parameters.run_date,'yyyy-mm-dd'),utcnow('yyyy-MM-dd'),formatDateTime(pipeline().parameters.run_date,'yyyy-MM-dd'))",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"force_run_value": {
				"type": "string",
				"defaultValue": "0"
			},
			"run_date": {
				"type": "string",
				"defaultValue": "yyyy-mm-dd"
			},
			"file_names": {
				"type": "string",
				"defaultValue": "*.json"
			}
		},
		"folder": {
			"name": "WARRANTY|Remarketing"
		},
		"annotations": []
	}
}