ADFIntegration/pipeline/SWT_Full_Load_Main.json
{
	"name": "SWT_Full_Load_Main",
	"properties": {
		"activities": [
			{
				"name": "Kick_Off_Child_Pipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "One_Time_Load_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('tables')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Truncate_And_Reload",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SWT_Truncate_And_Reload",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"schema_name": {
										"value": "ADW_VISTA_EDW",
										"type": "Expression"
									},
									"table_name": {
										"value": "@item()",
										"type": "Expression"
									},
									"run_date": {
										"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd HH:mm:ss')",
										"type": "Expression"
									},
									"container": {
										"value": "adls-vehicle-swt",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Extract_Zip_Files_Daily",
				"description": "Fetching the daily data zip file from Daimler ADLS and extract it over reservoir ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set_Run_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SWT_compressed",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@variables('run_date')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SWT_uncompressed",
						"type": "DatasetReference",
						"parameters": {
							"run_date": {
								"value": "@variables('run_date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get_Metadata_Sequential",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Extract_Zip_Files_Daily",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SWT_json_seq",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kick_Off_Seq_Pipeline",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Metadata_Sequential",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Metadata_Sequential').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check_For_Model_Dim",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().table,'MODEL_DIM')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SWT_Full_Load_Vehicle",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "SWT_Full_Load_Vehicle",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"run_date": {
													"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"container": {
													"value": "@item().container",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "SWT_Full_Load_Model_Dim",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "SWT_Full_Load_Model_Dim",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"run_date": {
													"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd HH:mm:ss')",
													"type": "Expression"
												},
												"container": {
													"value": "@item().container",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set_Run_Date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@formatDateTime(convertTimeZone(utcnow(),'UTC','Eastern Standard Time'),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "One_Time_Load_Tables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Kick_Off_Seq_Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "tables",
					"value": [
						"VEH_PORT"
					]
				}
			}
		],
		"variables": {
			"run_date": {
				"type": "String"
			},
			"tables": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "SWT_Data_Ingestion"
		},
		"annotations": []
	}
}