ADFIntegration/pipeline/Warranty_Daily_Refresh.json
{
	"name": "Warranty_Daily_Refresh",
	"properties": {
		"activities": [
			{
				"name": "Unzip",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Uncompressed_warranty",
						"type": "DatasetReference",
						"parameters": {
							"date": {
								"value": "@variables('run_date')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Warranty_destination",
						"type": "DatasetReference",
						"parameters": {
							"FILE_SYSTEM": "adls-wrnty-edw",
							"date": {
								"value": "@variables('run_date')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Unzip",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Warranty_Json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"batchCount": 30,
					"activities": [
						{
							"name": "If Truncate and Reload",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Switch1",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().table",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "KPI_DLR",
													"activities": [
														{
															"name": "Execute KPI_DLR",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "ASPM_KPI_DLR",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"run_date": {
																		"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												}
											],
											"defaultActivities": [
												{
													"name": "Execute Incremental Insert Update Pipeline",
													"type": "ExecutePipeline",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"pipeline": {
															"referenceName": "pass_through_incremental_insert_update",
															"type": "PipelineReference"
														},
														"waitOnCompletion": true,
														"parameters": {
															"schema_name": {
																"value": "@item().schema",
																"type": "Expression"
															},
															"table_name": {
																"value": "@item().table",
																"type": "Expression"
															},
															"container_name": {
																"value": "@item().container",
																"type": "Expression"
															},
															"run_date": {
																"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																"type": "Expression"
															}
														}
													}
												}
											]
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Truncate reload pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Pass_through_truncate_reload",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@utcnow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"run_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "WARRANTY|Remarketing"
		},
		"annotations": []
	}
}