ADFIntegration/pipeline/Warranty_PDW_Daily_Refresh.json
{
	"name": "Warranty_PDW_Daily_Refresh",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "wrnty_pdw_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "If Truncate and Reload",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Unzip",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute Incremental Insert Update Pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "pass_through_incremental_insert_update",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												},
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Truncate reload pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Pass_through_truncate_reload",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@utcnow('yyyy-MM-dd')",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Unzip",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings"
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "WRNTY_PDW_Uncompressed",
									"type": "DatasetReference",
									"parameters": {
										"path": {
											"value": "@item().unzip_path",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Warranty_destination",
									"type": "DatasetReference",
									"parameters": {
										"FILE_SYSTEM": {
											"value": "@item().container",
											"type": "Expression"
										},
										"date": {
											"value": "@utcnow('yyyy-MM-dd')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "WARRANTY|Remarketing"
		},
		"annotations": []
	}
}