ADFIntegration/pipeline/Warranty_Damage_Header_Daily.json
{
	"name": "Warranty_Damage_Header_Daily",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Tables",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "run_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Warranty_incre_test_json_DH",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Kickoff Pipelines",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Truncate and Reload",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().pipeline,'truncate_reload')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Switch",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@item().table",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "DAMAGE_HEADER_UPDT_PRE_COST_DIST",
													"activities": [
														{
															"name": "Damage_Header_Updt_pre_COST_DISTR",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "warranty_DAMAGE_HEADER_Updates",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"table_name_update": {
																		"value": "@item().table_name_update",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "DAMAGE_HEADER_UPDT_POST_COST_DIST",
													"activities": [
														{
															"name": "DAMAGE_HEADER_UPDTs_post_COST_DISTR",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "warranty_DAMAGE_HEADER_Updates",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"table_name_update": {
																		"value": "@item().table_name_update",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "DAMAGE_OPCODE_UPDT",
													"activities": [
														{
															"name": "DAMAGE_OPCODE",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "DAMAGE_OPCODE",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@variables('run_date')",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"table_name_update": {
																		"value": "@item().table_name_update",
																		"type": "Expression"
																	},
																	"table_name_lookup": {
																		"value": "@item().table_name_lookup",
																		"type": "Expression"
																	},
																	"update_schema": {
																		"value": "@item().update_schema",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "DAMAGE_HEADER_UPDT_TGT",
													"activities": [
														{
															"name": "DAMAGE_HEADER_UPDT_TGT",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "warranty_DAMAGE_HEADER_Updates",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"table_name_update": {
																		"value": "@item().table_name_update",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "WRCL_DMG_DECSN",
													"activities": [
														{
															"name": "WRCL_DMG_DECSN",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "WRCL_DMG_DESCSN",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"table_name_upd": {
																		"value": "@item().table_name_upd",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												},
												{
													"value": "WRNTY_VEH",
													"activities": [
														{
															"name": "Execute Pipeline1",
															"type": "ExecutePipeline",
															"dependsOn": [],
															"userProperties": [],
															"typeProperties": {
																"pipeline": {
																	"referenceName": "WRNTY_VEH_DATASTAGE",
																	"type": "PipelineReference"
																},
																"waitOnCompletion": true,
																"parameters": {
																	"schema_name": {
																		"value": "@item().schema",
																		"type": "Expression"
																	},
																	"table_name": {
																		"value": "@item().table",
																		"type": "Expression"
																	},
																	"container_name": {
																		"value": "@item().container",
																		"type": "Expression"
																	},
																	"run_date": {
																		"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																		"type": "Expression"
																	},
																	"notebook_path": {
																		"value": "@item().notebook_path",
																		"type": "Expression"
																	},
																	"table_name_update": {
																		"value": "@item().table_name_update",
																		"type": "Expression"
																	}
																}
															}
														}
													]
												}
											],
											"defaultActivities": [
												{
													"name": "Execute Incremental Insert Update Pipeline",
													"type": "ExecutePipeline",
													"dependsOn": [],
													"userProperties": [],
													"typeProperties": {
														"pipeline": {
															"referenceName": "warranty_incremental_insert_update_DAMAGE_HEADER",
															"type": "PipelineReference"
														},
														"waitOnCompletion": true,
														"parameters": {
															"schema_name": {
																"value": "@item().schema",
																"type": "Expression"
															},
															"table_name": {
																"value": "@item().table",
																"type": "Expression"
															},
															"container_name": {
																"value": "@item().container",
																"type": "Expression"
															},
															"run_date": {
																"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
																"type": "Expression"
															},
															"notebook_path": {
																"value": "@item().notebook_path",
																"type": "Expression"
															}
														}
													}
												}
											]
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute Truncate reload pipeline",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Warranty_incremental_truncate_reload_DAMAGE_HEADER",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"run_date": {
													"value": "@formatDateTime(variables('run_date'),'yyyy-MM-dd')",
													"type": "Expression"
												},
												"table_name": {
													"value": "@item().table",
													"type": "Expression"
												},
												"schema_name": {
													"value": "@item().schema",
													"type": "Expression"
												},
												"container_name": {
													"value": "@item().container",
													"type": "Expression"
												},
												"notebook_path": {
													"value": "@item().notebook_path",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "run_date",
				"description": "@utcnow('yyyy-MM-dd')",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_date",
					"value": {
						"value": "@utcnow('yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"run_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "WARRANTY|Remarketing"
		},
		"annotations": []
	}
}