ADFIntegration/pipeline/WRNTY_VEH_DATASTAGE.json
{
	"name": "WRNTY_VEH_DATASTAGE",
	"properties": {
		"activities": [
			{
				"name": "CHECK_LAST_RUN_DH",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/DataEngineering/WARRANTY/CHECK_LAST_RUN_DAMAGE_HEADER",
					"baseParameters": {
						"table_name": {
							"value": "@pipeline().parameters.table_name",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "MBUSA_DEV",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Run Notebook",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CHECK_LAST_RUN_DH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CHECK_LAST_RUN_DH').output.runOutput,'Continue')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "DBx_Transform",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": {
									"value": "@pipeline().parameters.notebook_path",
									"type": "Expression"
								},
								"baseParameters": {
									"run_date": {
										"value": "@pipeline().parameters.run_date",
										"type": "Expression"
									},
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									},
									"container_name": {
										"value": "@pipeline().parameters.container_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Run Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.table_name_update",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "File_Found",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(equals(activity('CHECK_LAST_RUN_DH').output.runOutput,'Continue'), equals(activity('DBx_Transform').output.runOutput,'Success'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Create_STG_TBL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "DROP IF CREATED STG TBL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name, '_CREATE_STG_TBL_UPDATE_CDE_VEH_SRV_DLR')",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDW2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Copy_to_ADW_STG",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Create_STG_TBL",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@concat('/processed/wrnty_opr/',item(),'/year=',substring(pipeline().parameters.run_date,0,4),'/month=',substring(pipeline().parameters.run_date,5,2),'/day=',substring(pipeline().parameters.run_date,8,2))",
														"type": "Expression"
													},
													"wildcardFileName": "*.csv",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "SqlDWSink"
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "Warranty_incre_csv",
												"type": "DatasetReference",
												"parameters": {
													"source_container_name": {
														"value": "@pipeline().parameters.container_name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "base_pattern_dw",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": {
														"value": "@pipeline().parameters.schema_name",
														"type": "Expression"
													},
													"table_name": {
														"value": "@pipeline().parameters.table_name",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "UPDTE_CDE_VEH_SRV_DLR",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Copy_to_ADW_STG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@concat(pipeline().parameters.schema_name,'.',pipeline().parameters.table_name,'_UPDATE_CDE_VEH_SRV_DLR')",
												"type": "Expression"
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDW2",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "DROP IF CREATED STG TBL",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@concat(pipeline().parameters.schema_name,'.','DROP_STG_TBL')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"TABLE_NAME": {
													"value": {
														"value": "@pipeline().parameters.table_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureSqlDW2",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CHECK_LAST_RUN_DH').output.runOutput,'Continue')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UPDATE_LAST_RUN_DH",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/DataEngineering/WARRANTY/UPDATE_LAST_RUN_DAMAGE_HEADER",
								"baseParameters": {
									"table_name": {
										"value": "@pipeline().parameters.table_name",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "MBUSA_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"schema_name": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			},
			"container_name": {
				"type": "string"
			},
			"run_date": {
				"type": "string"
			},
			"notebook_path": {
				"type": "string"
			},
			"table_name_update": {
				"type": "array"
			}
		},
		"folder": {
			"name": "pipeline_framework"
		},
		"annotations": []
	}
}